@use '../variables';

.infos-bar {
    padding: 10px 14px;
    background-color: variables.$infosBarBgColor;
    opacity: .7;
    border-radius: 10px;

    &__infos {
        
        &__item {
            color: variables.$itemColor;
            font-size: 24px;
            text-align: center;


            b {
                color: variables.$itemColor;
                font-size: 26px;
            }
        }

    }
}